
$primary: #335eea;
$secondary: #506690;
$dark: #1b2a4e;

@import '~bootstrap';

.dark-cell {
    background-color: #f1f4f7 !important;
}

.card-header {
    padding: 2rem;
}

.card-header h4 {
    font-weight: normal;
}

.nav-link.active {
    color: $primary !important;
}