{% extends 'base.html.twig' %}
{% block title %}Assignatura{% endblock %}
{% block body %}
    <h2>Assignatura</h2>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}
