{% extends 'base.html.twig' %}
{% block title %}Assignatures{% endblock %}
{% block sectiontitle %}Assignatures{% endblock %}
{% block body %}
    <ul class="list-group">
        {% for subject in allSubjects %}
            <li class="list-group-item">
                <div class="col-auto">{{ subject.id }}</div>
                <div class="col-auto">{{ subject.name }}</div>
                <div class="col-auto">{{ subject.courseId }}</div>
                <div class="col-auto">{{ subject.hoursWeek }}</div>
            </li>
        {% else %}
            No hay resultados.
        {% endfor %}
    </ul>
{% endblock %}
