{% extends 'base.html.twig' %}
{% block title %}Assignatura{% endblock %}
{% block sectiontitle %}{{ subject.name }}{% endblock %}
{% block body %}
    <h2>{{ subject.name }}</h2>
        <li>
            Cicle: {{ subject.course.name }}
            Hores per setmana: {{ subject.hoursWeek }}
        </li>
{% endblock %}