{% extends 'base.html.twig' %}
{% block title %}Professor{% endblock %}
{% block body %}
    <h2>Professor</h2>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

