{% extends 'base.html.twig' %}
{% block title %}Restriccions docents{% endblock %}
{% block sectiontitle %}Restriccions docents{% endblock %}
{% block body %}
    <div class="card card-bleed shadow-light-lg">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">

                <!-- Heading -->
                <h4 class="mb-0">
                    Llista d'Docents
                </h4>

                </div>
                <div class="col-auto">

                <!-- Button -->
                <button class="btn btn-xs btn-primary">
                    <a class="text-decoration-none text-white" href="{{ path('app_showConstraint', {id: teacher.id}, relative = false)}}">Afegir</a>
                </button>

                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for teacher in allConstraints %}
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto">{{ teacher.id }}</div>
                            <div class="col-auto">{{ teacher.name }}</div>
                            {% if teacher_constraints is defined %}
                                <pre>{{ teacher_constraints }}</pre>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

