{% extends 'base.html.twig' %}
{% block title %}Cursos{% endblock %}
{% block sectiontitle %}Cursos{% endblock %}
{% block body %}
    <div class="card card-bleed shadow-light-lg">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Heading -->
                    <h4 class="mb-0">
                        Llista de Cursos
                    </h4>

                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
            {% if allCourses | length > 0 %}
                {% for course in allCourses %}
                    <li class="list-group-item">
                        <a class="text-decoration-none text-secondary" href="{{ course.id }}">
                        <div class="row align-items-center">
                            <div class="col-auto">{{ course.name }} de {{ course.cicle == 'Primaria' ? 'Primària' : 'Secundària' }}</div>
                        </div>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    No n'hi ha
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}