{% extends 'base.html.twig' %}
{% block title %}Curs{% endblock %}
{% block body %}
    <h2>Curs {{ course.name }}</h2>
        <li>
            Cicle: {{ course.cicle }}
            Assignatures: 
        </li>
{% endblock %}
