{% extends 'base.html.twig' %}

{% block title %}Recuperació de la contrasenya{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Recuperació de la contrasenya</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introdueix la teva adreça electrònica per que t'enviem el link.
            </small>
        </div>

        <button class="btn btn-primary">Envia email</button>
    {{ form_end(requestForm) }}
{% endblock %}
