{% extends 'base.html.twig' %}
{% block title %}Restriccio{% endblock %}
{% block body %}
    <h2> {{ restrictions.day }}</h2>
    <h2> {{ restrictions.hora_inici }}</h2>
    <h2> {{ restrictions.hora_fi }}</h2>
{% endblock %}