{% extends 'base.html.twig' %}
{% block title %}Restriccio{% endblock %}
{% block body %}
    <h2> {{ restriction.day }}</h2>
    <h2> {{ restriction.hora_inici }}</h2>
    <h2> {{ restriction.hora_fi }}</h2>
{% endblock %}